body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-right: 10px;
}

nav a.active {
    color: red;
}

.icons {
    display: flex;
    align-items: center;
}

.settings-icon,
.user-icon {
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 20px;
}


main {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 300px;
    margin-top: 15px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 10px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.field-disponivel {
    background-color: lightgray;
    width: 50px;
}

.new-btn {
    background: linear-gradient(90deg, #ae00ff, #ff5c00);
    border: none;
    padding: 10px 20px;
    border-radius: 20px 0 0 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    height: 50px;
}

.img-home {
    background: linear-gradient(90deg, #ae00ff, #ff5c00);
    border-radius: 20px;
    color: white;
    font-weight: bold;
    padding: 5px;
    width: 30px;
    height: 30px;
}

.new-btn:hover {
    background: #ae00ff;
}

.actions {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.titlePage {
    text-align: left;
}

.titlePage h1 {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
}

.product-details {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.input-group {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 5px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.data-cadastro {
    text-align: center;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: 100%;
    padding: 6px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 5px;
}

.code-page {
    width: 50%;
    padding: 8px;
    border-radius: 0 20px 20px 0;
    border: 1px solid #ccc;
    font-size: 16px;
}

.code-new {
    display: flex;
}

.transaction-buttons {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 8px;
}

.enter-btn {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    background: linear-gradient(100deg, #ae00ff, #ff5c00);
    color: white;
    cursor: pointer;
    font-size: 14px;
    width: 90px;
    text-align: center;
}

.frameNewCE {
    display: flex;
    gap: 5px;
}

.saida-btn {
    border-radius: 20px;
    padding: 10px 20px;
    background: white;
    color: black;
    cursor: pointer;
    font-size: 14px;
    width: 90px;
    text-align: center;
    border: 2px solid rgb(192, 190, 190);
}

.item-number {
    background-color: #efefef;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.history {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.history h3 {
    margin-bottom: 20px;
    font-weight: bold;
}

.history-item {
    display: flex;
    margin-bottom: 20px;
}

.history-icon {
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-right: 20px;
}

.history-info p {
    margin: 5px 0;
}

.actions-footer {
    text-align: right;
    margin-top: 20px;
}

.delete-btn,
.save-btn {
    width: 100px;
    height: 50px;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}

.delete-btn {
    background: url('./images/Trash.svg') no-repeat center center,linear-gradient(100deg, #ae00ff, #ff5c00);
}

.save-btn {
    background: url('./images/Save.svg') no-repeat center center,linear-gradient(100deg, #ae00ff, #ff5c00);
}

.delete-btn:hover {
    background: url('./images/Trash.svg') no-repeat center center,#ae00ff;
}

.save-btn :hover {
    background: url('./images/Save.svg') no-repeat center center,#ae00ff;
}


#descricao {
    width: 100%;
    height: 80px;
    resize: none; 
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    overflow-y: auto;
    max-height: 350px;
    border: 2px solid black;
    border-radius: 25px;
    margin-right: 20px;
}

h2 {
    margin-bottom: 20px;
}

.product-list, .supplier-list {
    list-style: none;
}

.product-list li,
.supplier-list li {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    list-style: none;
    padding: 10px 0;
}

.stock-control {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.stock-item {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.logo img {
    max-height: 50px;
}

nav {
    display: flex;
    justify-content: center;
    flex: 1;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

nav a:hover {
    background-color: #f0f0f0;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    margin-left: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    gap: 5px;
}


@media (max-width: 600px) {
    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
    }

    nav.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}

@media (max-width: 1024px) {
    .actions {
        flex-direction: column;
        gap: 15px;
        padding: 10px;
    }

    .product-details {
        flex-direction: column;
        padding: 15px;
    }

    .form-section {
        flex-direction: column;
        gap: 15px;
    }

    .row{
        flex-direction: column;
        gap: 15px;
    }

    .input-group {
        min-width: 100%;
    }

    .input-group input, .input-group select {
        padding: 2px;
    }

    .save-btn {
        width: 50%;
        padding: 10px;
    }

    main {
        max-width: 750px;
    }

}

@media (max-width: 1366px) {
    main {
        max-width: 900px;
    }

}

@media (max-width: 768px) {
    .actions {
        padding: 10px;
        margin: 5px;
    }

    .transaction-buttons{
        justify-content: center;
    }
    
    .container {
        flex-direction: column;
    }

    .card {
        width: 85%;
    }

    .product-details {
        padding: 10px;
    }

    .input-group input, .input-group select, .input-group textarea {
        font-size: 14px;
        padding: 2px;
    }

    main {
        max-width: 300px;
    }

}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
